.product {
  color: white;
  background: #fefefe;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 0 5px #0005;
}

.product:hover {
  cursor: pointer;
}

.product img {
  height: 100px;
}

.product-desc {
  background: #fff;
  padding: 20px;
  border: 1px solid lightgrey;
  width: 90%;
  margin: 40px auto;
}

label {
  word-wrap: break-word;
}
img.metal-stone {
  width: 90%;
}

#show-img {
  display: grid;
  place-items: center center;
  padding: 20px;
}

.jewel-holder{
  text-align: center;
  border: 2px solid transparent;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  padding: 4px;
}

.jewel-holder:hover {
  cursor: pointer;
}

.jewel-holder-border-ring {
  border-color: #bbb;
}

.jewel-holder-border-gem {
  border-color: #bbb;
}

.right-border {
  position: relative;
}

.logo-holder {
  border-top: 10px solid #444;
  padding: 10px;
}

.footer {
  width: 100%;
  position: relative;
}

.footer-left {
  height: 15px;
  width: 80%;
  background: lightgrey;
  position: fixed;
  left: 0;
  bottom: 0;
}

.footer-right {
  height: 7px;
  width: 10%;
  background: lightgrey;
  position: fixed;
  right: 0;
  bottom: 0;
}

@media screen and (min-width: 760px){
  .right-border::after {
    content: "";
    display: block;
    height: 90%;
    width: 1px;
    background: #bbb;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
  }
}

 /* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
  .search-bar {
    width: 100% !important;
  }

  .products-holder {
    padding: 0 !important;
  }
 }