#landing-page {
  height: 100vh;
}

#landing-page-logo {
  position: absolute;
  top: 55%;
  width: 11em;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

#next-btn {
  width: 55px;
  height: 55px;
  background: lightgrey;
  display: grid;
  place-items: center center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 1%;
  box-shadow: 0 0px 15px #000b;
  transition: 0.3s;
}

#next-btn:hover {
  box-shadow: 0 0px 25px #000b;
}

#next-btn:hover a {
  transform: translateX(2px);
}

a {
  text-decoration: none;
  font-size: 1.5em;
  color: #444;
  font-weight: bolder;
  transition: 0.3s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  #landing-page-logo {
    left: 50%;
    top: 50%;
  }
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  #landing-page-logo {
    left: 50%;
    top: 50%;
  }
 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  #landing-page-logo {
    left: 930px;
    top: 370px;
  }
 }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  #landing-page-logo {
    left: 930px;
    top: 370px;
  }
 }